
$add-btn-color-bright: #f00;
$add-btn-color-dark: #b00;
$add-btn-text-color: #fffafa;
$add-btn-text-hover-color: #eee9e9;
$charcoal: #bbb;

.videos-header-text {
  font-weight: bold;
}

.videos-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.add-tube-btn {
  background-image: linear-gradient($add-btn-color-dark, $add-btn-color-bright, $add-btn-color-dark);
  border-radius: 15px;
  color: $add-btn-text-color;
  font-size: 3rem;
  height: 40px;
  margin: 10px;
  padding: 0 0 70px;
  text-align: center;
  transition: transform .2s;
  width: 72px;

  &:hover {
    color: $add-btn-text-hover-color;
    transform: scale(1.1);
  }
}

.artist-head,
.title-head {
}

.table-head {
  font-weight: bold;
}

.videos-table {
  display: flex;
  justify-content: space-around;
}

.thumbnail-dims {
  height: 3vw;
  width: 5vw;
}

.main-header {
  align-items: center;
  border-bottom: 1px solid $charcoal;
  display: flex;
  height: 100px;
  padding: 0 20px;

  a,
  span {
    font-size: 1.2em;
    margin: 0 15px;
  }
}

.main-header > nav {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

@media (max-width: 600px) {
  .main-header {
    flex-direction: column;
    font-size: 0.7em;
    height: auto;
    padding: 10px;

    h1 {
      font-size: 2.5em;
    }
  }
}

@media (max-width: 450px) {
  .main-header > nav {
    flex-direction: column;
    width: 100%;

    a,
    span {
      border: 1px solid $charcoal;
      margin-bottom: 5px;
      text-align: center;
      width: 80%;
    }
  }
}
