.centered-video {
  text-align: center;
}

.full-video-dims {
  border: 10px solid black;
  border-radius: 2vw;
  height: 36vw;
  margin: 10px auto;
  width: 48vw;
}

.video-show {
  display: inline-flex;
}

.video-head {
  width: 100px;
}

.video-text {

}
